@import "tailwindcss" source(none);
@source "./src/**/*.rs";
@plugin "daisyui";

body {
  height: 100vh;
  height: 100dvh;
}

.required-letter {
  @apply btn-warning;
}

.progress-segments {
  @apply grid grid-cols-9 items-center h-10 w-full;

  .segment {
    @apply bg-gray-200 h-3 w-3 rounded-4xl justify-self-center border-2 border-black transition-colors duration-200;
  }

  .filled {
    @apply bg-info;
  }

  .current {
    @apply h-8 w-8 text-info-content font-bold flex items-center justify-center;
  }
}

.hex-container {
  @apply h-70 w-70 justify-self-center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;

  grid-template-areas:
    ". one ."
    "six one two"
    "six center two"
    "five center three"
    "five four three"
    ". four .";
}

.letter {
  @apply cursor-pointer;

  polygon {
    @apply stroke-neutral stroke-2 hover:fill-accent focus:fill-accent focus:outline-0;
    pointer-events: none;
  }
}

.letter.required {
  grid-area: center;
  polygon {
    @apply fill-warning;
  }
}

.letter.other {
  polygon {
    @apply fill-info;
  }
}

.letter.other:nth-of-type(2) {
  grid-area: one;

  svg {
    transform: translate(0, 12px);
  }
}

.letter.other:nth-of-type(3) {
  grid-area: two;
  svg {
    transform: translate(-23px, 6px);
  }
}

.letter.other:nth-of-type(4) {
  grid-area: three;

  svg {
    transform: translate(-23px, -5px);
  }
}

.letter.other:nth-of-type(5) {
  grid-area: four;

  svg {
    transform: translate(0, -11px);
  }
}

.letter.other:nth-of-type(6) {
  grid-area: five;

  svg {
    transform: translate(22px, -5px);
  }
}

.letter.other:nth-of-type(7) {
  grid-area: six;

  svg {
    transform: translate(22px, 6px);
  }
}

.hex-text {
  @apply text-3xl font-extrabold uppercase cursor-pointer dark:text-base-content dark:hover:text-accent-content;
  dominant-baseline: middle;
  text-anchor: middle;
}

#board {
  @apply grid;
  grid-template-rows: 3.5rem 3.5rem 1fr auto;
}

.button-container {
  @apply min-h-12;
}

.button-container button {
  @apply min-h-10;
}

@media (max-width: 768px) {
  .button-container {
    @apply min-h-16;
  }
  
  .button-container button {
    @apply min-h-12;
  }
}
