@import "tailwindcss" source(none);
@source "./src/**/*.rs";
@plugin "daisyui";

body {
  height: 100vh;
  height: 100dvh;
}

.required-letter {
  @apply btn-warning;
}

.progress-segments {
  @apply grid grid-cols-9 items-center h-10 w-full;

  .segment {
    @apply bg-gray-200 h-3 w-3 rounded-4xl justify-self-center border-2 border-black transition-colors duration-200;
  }

  .filled {
    @apply bg-info;
  }

  .current {
    @apply h-8 w-8 text-info-content font-bold flex items-center justify-center;
  }
}

.hex-container {
  @apply h-70 w-70 justify-self-center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;

  grid-template-areas:
    ". one ."
    "six one two"
    "six center two"
    "five center three"
    "five four three"
    ". four .";

  --border-gradient-size: 100px;
  --border-gradient-light: var(--color-warning);
  --border-gradient-dark: var(--color-base-100);
}

.letter {
  @apply cursor-pointer uppercase; 
  @apply text-2xl font-extrabold uppercase cursor-pointer;

  border: 3px solid transparent;
  background-image: 
    linear-gradient(var(--letter-bg-color), var(--letter-bg-color)), 
    radial-gradient(
      circle var(--border-gradient-size) 
      at var(--border-gradient-x, 500%) var(--border-gradient-y, 500%),
      var(--border-gradient-light), var(--border-gradient-dark)
    );
  background-clip: padding-box, border-box;
  background-origin: border-box;
}

.letter.required {
  grid-area: center;
  
  
  --letter-bg-color: var(--color-warning);
}

.letter.other {
  --letter-bg-color: var(--color-info);
}

.letter.other:nth-of-type(2) {
  @apply rounded-t-4xl;
  grid-area: one;
  
  
}

.letter.other:nth-of-type(3) {
  @apply rounded-tr-4xl;
  grid-area: two;
  
  
}

.letter.other:nth-of-type(4) {
  @apply rounded-br-4xl;
  grid-area: three;
  
  
}

.letter.other:nth-of-type(5) {
  @apply rounded-b-4xl;
  grid-area: four;
  
  
}

.letter.other:nth-of-type(6) {
  @apply rounded-bl-4xl;
  grid-area: five;
  
  
}

.letter.other:nth-of-type(7) {
  @apply rounded-tl-4xl;
  grid-area: six;
  
  
}

#board {
  @apply grid;
  grid-template-rows: 3.5rem 3.5rem 1fr auto;
}

.button-container {
  @apply min-h-12;
}

.button-container button {
  @apply min-h-10;
}

@media (max-width: 768px) {
  .button-container {
    @apply min-h-16;
  }
  
  .button-container button {
    @apply min-h-12;
  }
}
